/*.important {
  font-family:serif;
  font-weight:bolder;
  color:#663300;
}

.unimportant {
    font-family:sans-serif;
    font-weight:lighter;
    color:#ffe680;background-color:#202060;
}

.fishhype {
    font-weight:bolder;
    font-style:italic;
}*/
.light-background {
  background-color: #ffffff;
  color: #000000;
}

.dark-background {
  background-color: #000000;
  color: #ffffff;
}
